#select {
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #d9dce0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #676767;
    background-color: #FAFAFC;
}