.deskstop_home_container {
    width: 100;
    height: 80vh;
    background-image: url('../../../assets//images//desktop.png');
    background-size: cover;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        .logo {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 32.8px;
            line-height: 41px;
            color: #F77E23;
            padding-left: 70px;
        }
        .actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            color: #fff;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            animation-duration: 200ms;
           
            
        }
        .prompts {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            color: #fff;
            padding-right: 100px;
        }
    }

    .header_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: -40px;
        .classical {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            text-align: center;
            color: #FFFFFF;
        }
        .prepare {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 46px;
        }
    }

    .actions_types {
        width: 100%;
        display: flex;
        margin-top: -90px;
        justify-content: center;
        align-items: center;
        .action_types_box {
            width: 80%;
            height: 136px;
            background-color: #fff;
            box-shadow: 0px 21px 97px rgba(207, 207, 207, 0.25);
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .action_box {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }
            .action_text {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #000000;

            }
        }
    }
    @media only screen and (max-width: 600px) {
        .header_body {
            .classical {
                font-weight: 700;
                font-size: 32px;
            }

            .prepare {
                font-weight: 400;
                font-size: 18px;
                width: 291px;
                padding-top: 20px;
            }
        }
        
    
    }
}


.flash {
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
  
  }
  
  .preloader_parent {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(248, 206, 88, 0.5);
  
  }
  
  .preloader_ {
    position: absolute;
    margin: 50px auto;
    left: 0;
    right: 0;
    width: 88px;
  }
  .preloader_ ul {
    margin: 0;
    list-style: none;
    width: 88px;
    height: 63px;
    position: relative;
    padding: 0;
    height: 10px;
  }
  .preloader_ ul li {
    position: absolute;
    width: 2px;
    height: 0;
    background-color: rgb(0, 0, 0);
    bottom: 0;
  }
  .preloader_ li:nth-child(1) {
    left: 0;
    animation: cssload-sequence1 1.15s ease infinite 0;
    -o-animation: cssload-sequence1 1.15s ease infinite 0;
    -ms-animation: cssload-sequence1 1.15s ease infinite 0;
    -webkit-animation: cssload-sequence1 1.15s ease infinite 0;
    -moz-animation: cssload-sequence1 1.15s ease infinite 0;
  }
  .preloader_ li:nth-child(2) {
    left: 15px;
    animation: cssload-sequence2 1.15s ease infinite 0.12s;
    -o-animation: cssload-sequence2 1.15s ease infinite 0.12s;
    -ms-animation: cssload-sequence2 1.15s ease infinite 0.12s;
    -webkit-animation: cssload-sequence2 1.15s ease infinite 0.12s;
    -moz-animation: cssload-sequence2 1.15s ease infinite 0.12s;
  }
  .preloader_ li:nth-child(3) {
    left: 29px;
    animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
    -o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
    -ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
    -webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
    -moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
  }
  .preloader_ li:nth-child(4) {
    left: 44px;
    animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
    -o-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
    -ms-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
    -webkit-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
    -moz-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
  }
  .preloader_ li:nth-child(5) {
    left: 58px;
    animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
    -o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
    -ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
    -webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
    -moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
  }
  .preloader_ li:nth-child(6) {
    left: 73px;
    animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -o-animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -ms-animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -webkit-animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -moz-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  }
  
  .preloader_ li:nth-child(7) {
    left: 73px;
    animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -o-animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -ms-animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -webkit-animation: cssload-sequence2 1.15s ease infinite 0.58s;
    -moz-animation: cssload-sequence2 1.15s ease infinite 0.58s;
  }
  @keyframes cssload-sequence1 {
    0% {
      height: 10px;
    }
    50% {
      height: 49px;
    }
    100% {
      height: 10px;
    }
  }
  @-o-keyframes cssload-sequence1 {
    0% {
      height: 10px;
    }
    50% {
      height: 49px;
    }
    100% {
      height: 10px;
    }
  }
  @-ms-keyframes cssload-sequence1 {
    0% {
      height: 10px;
    }
    50% {
      height: 49px;
    }
    100% {
      height: 10px;
    }
  }
  @-webkit-keyframes cssload-sequence1 {
    0% {
      height: 10px;
    }
    50% {
      height: 49px;
    }
    100% {
      height: 10px;
    }
  }
  @-moz-keyframes cssload-sequence1 {
    0% {
      height: 10px;
    }
    50% {
      height: 49px;
    }
    100% {
      height: 10px;
    }
  }
  @keyframes cssload-sequence2 {
    0% {
      height: 19px;
    }
    50% {
      height: 63px;
    }
    100% {
      height: 19px;
    }
  }
  @-o-keyframes cssload-sequence2 {
    0% {
      height: 19px;
    }
    50% {
      height: 63px;
    }
    100% {
      height: 19px;
    }
  }
  @-ms-keyframes cssload-sequence2 {
    0% {
      height: 19px;
    }
    50% {
      height: 63px;
    }
    100% {
      height: 19px;
    }
  }
  @-webkit-keyframes cssload-sequence2 {
    0% {
      height: 19px;
    }
    50% {
      height: 63px;
    }
    100% {
      height: 19px;
    }
  }
  @-moz-keyframes cssload-sequence2 {
    0% {
      height: 19px;
    }
    50% {
      height: 63px;
    }
    100% {
      height: 19px;
    }
  }